body{
    background-image: url(https://image.shutterstock.com/image-illustration/abstract-light-blue-purple-pink-260nw-1278010639.jpg);
    color: black;
    font-style: italic;
    background-repeat: no-repeat ;
    background-size: cover;
} 

.img-blog{
    padding: 20px;
    border-radius: 20%;
    width: 200px;
    height: 200px;
    grid-template-columns: auto auto;
}

.blog-content input{
    width: 130px;
    height: 45px;
    font-size: 15px;
    border-radius: 10px;
}

h3{
    height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.page-title{
    font-size: 34px;
    margin-top: 35px;
    font-weight: 900;
    padding: 25px;
}

.text1{
    font-size: 34px;
    margin-top: 35px;
    font-weight: 900;
    padding: 25px;
    text-align: left; 
}

.pic{
    border-radius: 20px;
    padding-top: 50px;
    height: 75%;
    
}
.text2{
    font-size: 34px;
    margin-top: 35px;
    font-weight: 900;
    padding: 25px; 
}

.heading{
  font-size: larger;  

}

.pic2{
    width: 70%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

footer{
    text-align: center;
}
ul{
    text-align: center;
}

footer li{
    display: inline-block;
    padding: 30px 30px;
}

.test{
    color: red;
}

@media(max-width:600px) {
    .test{color: yellow;
    }
}

.about-btn{
    width: 130px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 10px;
}

.blog-btn{
    width: 130px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 10px;
    border-radius: 10px;
}

section{
    margin-top: 100px;

}

.home-content p :nth-child(2){
    font-size: 50px;
}

.home-content p :nth-child(3){
    font-size: 30px;
}

.home-content p{
    padding: 15px 0px 10px;
    font-size: 30px;
}

.pic3{
    width: 100%;
    height: 300px;
}
.wed{
    width: 100%;
    height: 350px;
}
.space{
    margin-bottom: 30px;
}
.side{
    height: 500px;
    width: 600px;
    margin: 100px;
}
.cars{
    height: 500px;
    width: 600px;
    margin: 100px;
}





